@import "variables";
@import "mixins";







.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 80px;
  gap: 78px;
  width: 100%;
  height: auto;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  max-width: 680px;
}




@media screen and (max-width: $laptop) {
  .content-image {
    max-width: calc(100vw - $global-margin-tablet) !important;
  }
}

@media screen and (max-width: $tablet) {
  .content-section {
    max-width: calc(100vw - $global-margin-mobile);
  }

  .content-image {
    max-width: calc(100vw - $global-margin-mobile) !important;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 50px;
    gap: 38px;
    width: 100%;
    height: auto;
  }
}

.case-study {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-section__header {
  @include text-lg-bold;
}

.content-section__body {
  @include text-body;
}


//Coloring - Dark

.dark-content {
  color: $slate-50 !important;
  background-color: $slate-800;
}

.dark-content .content-section__body {
  color: $slate-50 !important;
  font-weight: 300;
}

.dark-content .content-section__header {
  color: $slate-50 !important;
}

//Coloring - Grey

.grey-content {
  color: $slate-900 !important;
  background-color: $chill-gray;
}

//Coloring - Dark Zinc

.dark-content-z {
  color: $slate-50 !important;
  background-color: #121212;
}

.dark-content-z .content-section__body {
  color: $slate-50 !important;
  font-weight: 300;
}

.dark-content-z .content-section__header {
  color: $slate-50 !important;
}