@import "variables";
@import "mixins";

.hp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.trippy-bg {
      background: linear-gradient(
      -45deg,

      #fff,
      $interaction-color-xlight,
     #fff,
      #fff
    );
    background-size: 200% 200%;
    animation: gradient 7s ease infinite;
    height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hp-hero {
  display: flex;
  width: 100vw;
  height: auto;
}

.hp-hero__text-container {
  margin-left: $hp-margin;
  margin-top: 15vh;
  margin-bottom: 4vh;
  width: 70%;
  overflow: hidden;
}

.hp-hero__text {
  @include hero-text;
}

.hp-hero__text-bold {
  font-weight: 700;
}

.hp-hero__text-highlight {
  background-color: $text-accent;
}

.hp-header {
    width: calc(100vw - calc($hp-margin * 2));
    margin-bottom: 15vh;
}

.hp-cs-row {
  display: flex;
  flex-direction: row;
  gap: 68px;
  width: calc(100vw - calc($hp-margin * 2));
  padding-bottom: 15vh;
}

.hp-cs {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: transform 0.3s ease-out;
  &:hover {
    transform: translateY(-5px);
  }
}

.hp-cs__image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $slate-200;
}

.hp-cs__video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $slate-200;
}

.hp-cs__video video {
  width: 100%; /* set the width of the image to 100% of the parent div */
  height: 100%; /* set the height of the image to 100% of the parent div */
  object-fit: cover; /* scales the image to cover the entire content box while preserving aspect ratio */
  object-position: center; /* centers the image within the content box */
}

.hp-cs__video img {
  width: 100%; /* set the width of the image to 100% of the parent div */
  height: 100%; /* set the height of the image to 100% of the parent div */
  object-fit: cover; /* scales the image to cover the entire content box while preserving aspect ratio */
  object-position: center; /* centers the image within the content box */
  visibility: hidden;
}

.hp-cs__image img {
  width: 100%; /* set the width of the image to 100% of the parent div */
  height: 100%; /* set the height of the image to 100% of the parent div */
  object-fit: cover; /* scales the image to cover the entire content box while preserving aspect ratio */
  object-position: center; /* centers the image within the content box */
}

.hp-cs__title {
  @include text-xl-bold;
  padding-top: 28px;
}

.hp-cs__title-regular {
  @include text-xl-regular;
}

.hp-cs__desc {
  @include text-body-small-regular;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  padding-top: 4px;
}

.hp-cs__button {
  width: 36px;
  height: 36px;
  background-color: $slate-900;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

.hp-cs__button-arrow {
  width: 14px;
}

.hp-hero__body {
    @include text-body;
  }

////// Animation shit

.hp-cs:hover .hp-cs__button {
  background-color: $interaction-color-base;
}

//Media Queries

@media (max-width: $tablet) {
  .hp-hero__text-container {
    margin-left: $hp-margin-tablet;
    margin-top: 10vh;
    margin-bottom: 4vh;
    width: calc(100vw - calc($hp-margin-tablet * 2));
    overflow: hidden;
  }

  .hp-hero__text {
    @include hero-text-tablet;
  }


  .hp-cs-row {
    flex-direction: column;
    gap: 48px;
    width: calc(100vw - calc($hp-margin-tablet * 2));
    padding-bottom: 28px;
  }

  .hp-cs__title {
    padding-top: 20px;
  }

  .hp-cs__desc {
    padding-top: 2px;
  }
  
  .hp-cs__button {
    margin-top: 14px;
  }

  .hp-header {
    width: calc(100vw - calc($hp-margin-tablet * 2));
    margin-bottom: 14vh;
  }

  .hp-cs__video video {
    visibility: hidden;
    height: 0px;
  }
  
  .hp-cs__video img {
position: relative;
    visibility: visible;
  }

}
