@import "variables";
@import "mixins";

.inline-header {
  @include text-xxl-bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 100%;
  height: auto;
}

.inline-header__text {
    width: 680px;
}



@media screen and (max-width: $tablet) {
  .inline-header__text {

    width: calc(100vw - $global-margin-mobile)

  }
}