@import "variables";
@import "mixins";

.intro-tag {
   @include text-body;
   display: flex;
   gap: 6px;
   align-items: center;
}

.intro-tag::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/img/down-arrow.svg);
}