// Media query variables
$mobile-small: 320px;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1230px;
$large-desktop: 1440px;
$aspect-ratio: 2.097435;

// Colors
$new-blue: #0a0aff;
$red: #ff2c2c;
$icon-green: #00cbcb;
$light-green: #00efef;
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;


$interaction-color-base: #0a0aff;
$adjusted-interaction: adjust-hue($interaction-color-base, -40deg);
$interaction-color-lightish: mix($adjusted-interaction, #fff, 25%);
$interaction-color-light: mix($adjusted-interaction, #fff, 15%);
$interaction-color-xlight: mix($adjusted-interaction, #fff, 8%);
$text-accent: $interaction-color-lightish;

$gray-50: #fafafa;
$gray-100: #f4f4f5;
$gray-200: #e4e4e7;
$gray-300: #d4d4d8;
$gray-400: #a1a1aa;
$gray-500: #71717a;
$gray-600: #52525b;
$gray-700: #3f3f46;
$gray-800: #27272a;
$gray-900: #18181b;
$gray-950: #09090b;

// global values

$global-margin-tablet: 96px;
$global-margin-mobile: 48px;

$hp-margin: 120px;
$hp-margin-tablet: 24px;

$chill-gray: #f4f6fa;