.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 80px;
  gap: 78px;
  width: 100%;
  height: auto;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  max-width: 680px;
}

@media screen and (max-width: 1024px) {
  .content-image {
    max-width: calc(100vw - 96px) !important;
  }
}
@media screen and (max-width: 768px) {
  .content-section {
    max-width: calc(100vw - 48px);
  }
  .content-image {
    max-width: calc(100vw - 48px) !important;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 50px;
    gap: 38px;
    width: 100%;
    height: auto;
  }
}
.case-study {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-section__header {
  font-family: "Anuphan";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
  color: #0f172a;
}

.content-section__body {
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.dark-content {
  color: #f8fafc !important;
  background-color: #1e293b;
}

.dark-content .content-section__body {
  color: #f8fafc !important;
  font-weight: 300;
}

.dark-content .content-section__header {
  color: #f8fafc !important;
}

.grey-content {
  color: #0f172a !important;
  background: linear-gradient(-45deg, #f1f5f9, #fdfdfd);
  background-size: 100% 100%;
  height: 100%;
}

.dark-content-z {
  color: #f8fafc !important;
  background-color: #121212;
}

.dark-content-z .content-section__body {
  color: #f8fafc !important;
  font-weight: 300;
}

.dark-content-z .content-section__header {
  color: #f8fafc !important;
}

.text-xxxl-xbold {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  color: #0f172a;
}

.text-lg-bold {
  font-family: "Anuphan";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
  color: #0f172a;
}

.text-xxl-bold {
  font-size: 2.25rem;
  font-family: "Anuphan";
  font-weight: 800;
  font-style: normal;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-xxl-regular {
  font-size: 2.25rem;
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-xxl-light {
  font-size: 2.25rem;
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-body {
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-body-small-light {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-body-small-regular {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-body-small-bold {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.text-accent {
  background-color: #c2ebff;
}

/* Max width of 320 pixels */
.w-100p {
  width: 100%;
}

.fg-4 {
  display: flex;
  gap: 4px;
}

.max-w-xxs {
  max-width: 320px;
}

.max-w-390 {
  max-width: 390px;
}

/* Max width of 480 pixels */
.max-w-xs {
  max-width: 480px;
}

/* Max width of 640 pixels */
.max-w-sm {
  max-width: 640px;
}

/* Max width of 800 pixels */
.max-w-md {
  max-width: 800px;
}

/* Max width of 960 pixels */
.max-w-lg {
  max-width: 960px;
}

/* Max width of 1120 pixels */
.max-w-xl {
  max-width: 1120px;
}

/* Max width of 1280 pixels */
.max-w-2xl {
  max-width: 1280px;
}

/* Max width of 1440 pixels */
.max-w-3xl {
  max-width: 1440px;
}

/* Max width of 1600 pixels */
.max-w-4xl {
  max-width: 1600px;
}

/* Max width of 1920 pixels */
.max-w-5xl {
  max-width: 1920px;
}

.bg-gray-50 {
  background-color: #fafafa !important;
}

.bg-gray-900 {
  background-color: #18181b !important;
}

.bg-gray-800 {
  background-color: #27272a !important;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-5 {
  flex-grow: 5;
}

.basis-25 {
  flex-basis: 25%;
}

.basis-33 {
  flex-basis: 33.33%;
}

.basis-50 {
  flex-basis: 50%;
}

.basis-66 {
  flex-basis: 66.66%;
}

.basis-75 {
  flex-basis: 75%;
}

.basis-100 {
  flex-basis: 100%;
}

.bg-slate-50 {
  background-color: #f8fafc;
}

/* Padding Utilities */
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/* Add a subtle box shadow to an element */
.box-shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* Add a larger, more prominent box shadow to an element */
.box-shadow-lg {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Add a box shadow with a specific color */
.box-shadow-blue {
  box-shadow: 0 0 4px rgba(0, 0, 255, 0.4);
}

/* Add an inset box shadow */
.box-shadow-inset {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

/* Add a box shadow to the top of an element */
.box-shadow-top {
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.4);
}

/* Add a box shadow to the bottom of an element */
.box-shadow-bottom {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
}

.phone-top {
  width: 100%;
  height: 100%;
  background-image: url(/img/phone-top.svg);
  position: absolute;
  left: 0;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.phone-top--light {
  width: 100%;
  height: 100%;
  background-image: url(/img/phone-top-light.svg);
  position: absolute;
  left: 0;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.phone-wrapper {
  width: 320px;
  height: 671.1792px;
  position: relative;
  overflow: visible;
  display: flex;
}

.phone-bottom {
  width: 100%;
  height: 100%;
  background-image: url(/img/phone-bottom.svg);
  position: absolute;
  left: 0;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}

.phone-video {
  position: absolute;
  left: 1%;
  right: 0;
  top: 0.5%;
  width: 98%;
  height: 96.7%;
  border-radius: 5%;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}

.double-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .double-phone {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .phone-wrapper {
    width: calc(100vw - 48px);
    height: calc((100vw - 48px) * 2.097435);
  }
}
.cs-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 0px 15vh;
  gap: 12px;
  width: 100%;
  height: auto;
}

.cs-header__summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 36px;
  gap: 14px;
  width: 680px;
  height: auto;
}

.cs-header__meta {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 680px;
  height: auto;
}

.cs-header__meta-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  flex-grow: 1;
}

.cs-header__meta-divider {
  border-right: 1px solid #e2e8f0;
  margin-left: 30px;
  margin-right: 30px;
  width: 1px;
  align-self: stretch;
}

.splash {
  display: flex;
  height: 420px;
  width: 100%;
  overflow: hidden;
  align-items: center;
  margin-bottom: 40px;
}

.cs-hero__text {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 78px;
  color: #0f172a;
  margin-bottom: 8px;
  line-height: 116%;
}

.cs-hero__text-bold {
  font-weight: 700;
}

@media screen and (max-width: 1230px) {
  .splash {
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .cs-header__summary {
    width: calc(100vw - 96px);
  }
  .cs-hero__text {
    font-family: "Anuphan";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 56px;
    color: #0f172a;
  }
  .cs-header__meta {
    flex-direction: column;
    width: calc(100vw - 96px);
  }
  .cs-header__meta-divider {
    border-right: 0px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-self: stretch;
  }
  .cs-header {
    gap: 20px;
    padding: 15vh 0px 70px;
  }
  .splash-img {
    max-width: 168%;
  }
}
@media screen and (max-width: 768px) {
  .cs-header__summary {
    width: calc(100vw - 48px);
    border-bottom: 1px solid #e2e8f0;
  }
  .cs-header__meta {
    flex-direction: column;
    width: calc(100vw - 48px);
  }
}
.quotes {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 900px;
  height: auto;
}

.quote-card {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 28px 30px;
  gap: 10px;
  color: #f8fafc !important;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  /* Slate/800 */
  background: #1e293b;
  /* Slate/50 */
  border-radius: 6px;
  align-self: stretch;
}

.quotation {
  background-image: url(/img/quote-icon.svg);
  width: 24px;
  height: 15px;
}

@media screen and (max-width: 768px) {
  .quotes {
    flex-direction: column;
    gap: 16px;
    width: calc(100vw - 48px);
  }
}
.inline-header {
  font-size: 2.25rem;
  font-family: "Anuphan";
  font-weight: 800;
  font-style: normal;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  margin-bottom: -28px;
  width: 100%;
  height: auto;
}

.inline-header__text {
  width: 680px;
}

@media screen and (max-width: 768px) {
  .inline-header__text {
    width: calc(100vw - 48px);
  }
  .inline-header {
    margin-bottom: -8px;
  }
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 80px;
  gap: 68px;
  width: 100%;
  height: auto;
}

.results__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 680px;
}

.results__stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 680px;
  height: auto;
}

.results__stat-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 100%;
  height: auto;
}

.results__stat-cell-figure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
}

.results__stat-cell-figure-plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 0px 0px 3px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  align-self: stretch;
  color: #0f172a;
}

.results__stat-cell-figure-value {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  color: #0f172a;
}

.results__stat-cell-figure-percent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0px 0px 3px;
  gap: 10px;
  align-self: stretch;
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  /* Slate/900 */
  color: #0f172a;
}

.results__stat-cell-metric {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

@media screen and (max-width: 1024px) {
  .results__text {
    width: calc(100vw - 96px);
  }
}
@media screen and (max-width: 768px) {
  .results__stats {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: calc(100vw - 48px);
  }
  .results__text {
    width: calc(100vw - 48px);
  }
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0px 140px;
  gap: 34px;
  width: 100%;
  height: auto;
}

.testimonial-alt {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 28px;
  width: 100%;
  height: auto;
}

.testimonial__quote-alt {
  width: 60%;
  height: auto;
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  line-height: 34px;
  color: #0f172a;
}

.testimonial__quote {
  width: 680px;
  height: auto;
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  text-align: center;
  line-height: 34px;
  color: #0f172a;
}

.testimonial__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.testimonial__author-pic {
  width: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 40px;
  margin-right: 4px;
}

.testimonial__author-wrapper {
  display: flex;
  flex-direction: column;
}

.testimonial__author-name {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  color: #0f172a;
}

.testimonial__author-credentials-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.testimonial__author-title {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  color: #475569;
}

.testimonial__author-company {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  color: #475569;
}

@media screen and (max-width: 1024px) {
  .testimonial__quote {
    width: calc(100vw - 96px);
  }
  .testimonial {
    padding: 70px 0px 80px;
  }
}
@media screen and (max-width: 768px) {
  .testimonial__quote {
    width: calc(100vw - 48px);
  }
  .testimonial__quote-alt {
    width: 100%;
  }
}
.nav {
  width: 100vw;
  padding: 16px 0px 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-content {
  width: calc(100vw - 240px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  visibility: visible;
}

.nav-title-mobile {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  visibility: hidden;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  overflow: hidden;
}

.nav-item {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  padding: 6px 16px;
  border-radius: 8%;
  position: relative;
  z-index: 1;
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f1f5f9;
  transition: height 0.2s ease-out;
  z-index: -1;
  border-radius: 8%;
}

.nav-item:hover {
  color: #0a0aff;
}

.connect-wrapper {
  display: flex;
  gap: 2px;
  padding: 6px 0px 6px 16px;
  border-radius: 8%;
  position: relative;
  z-index: 1;
}

.connect-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f1f5f9;
  transition: height 0.3s ease-in-out;
  z-index: -1;
  border-radius: 8%;
}

.nav-item--connect {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  color: #0a0aff;
  position: relative;
}

.plane {
  position: relative;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-image: url(/img/plane.svg);
}

.plane-wrapper {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.plane::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -18px;
  width: 24px;
  height: 24px;
  background-image: url(/img/plane.svg);
}

.connect-wrapper:hover > .plane-wrapper > .plane {
  top: -18px;
  left: 18px;
  transition: top 0.4s ease-out, left 0.4s ease-out;
}

.ham-wrapper {
  width: 24px;
  height: 24px;
  overflow: hidden;
  visibility: hidden;
}

.ham-icon {
  background-image: url(/img/ham.svg);
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .nav-content {
    width: calc(100% - 48px);
  }
  .nav-title-mobile {
    visibility: visible;
    flex-grow: 1;
  }
  .nav-title {
    visibility: hidden;
    width: 0px;
  }
  .nav-buttons {
    gap: 2px;
  }
  .nav {
    padding: 8px 0px 8px;
  }
}
.hp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.trippy-bg {
  background: linear-gradient(-45deg, #fff, #ebf8ff, #fff, #fff);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hp-hero {
  display: flex;
  width: 100vw;
  height: auto;
}

.hp-hero__text-container {
  margin-left: 120px;
  margin-top: 15vh;
  margin-bottom: 4vh;
  width: 70%;
  overflow: hidden;
}

.hp-hero__text {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 78px;
  color: #0f172a;
}

.hp-hero__text-bold {
  font-weight: 700;
}

.hp-hero__text-highlight {
  background-color: #c2ebff;
}

.hp-header {
  width: calc(100vw - 240px);
  margin-bottom: 15vh;
}

.hp-cs-row {
  display: flex;
  flex-direction: row;
  gap: 68px;
  width: calc(100vw - 240px);
  padding-bottom: 15vh;
}

.hp-cs {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: transform 0.3s ease-out;
}
.hp-cs:hover {
  transform: translateY(-5px);
}

.hp-cs__image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
}

.hp-cs__video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
}

.hp-cs__video video {
  width: 100%; /* set the width of the image to 100% of the parent div */
  height: 100%; /* set the height of the image to 100% of the parent div */
  object-fit: cover; /* scales the image to cover the entire content box while preserving aspect ratio */
  object-position: center; /* centers the image within the content box */
}

.hp-cs__image img {
  width: 100%; /* set the width of the image to 100% of the parent div */
  height: 100%; /* set the height of the image to 100% of the parent div */
  object-fit: cover; /* scales the image to cover the entire content box while preserving aspect ratio */
  object-position: center; /* centers the image within the content box */
}

.hp-cs__title {
  font-family: "Anuphan";
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
  color: #0f172a;
  padding-top: 28px;
}

.hp-cs__title-regular {
  font-family: "Anuphan";
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
  color: #0f172a;
}

.hp-cs__desc {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  padding-top: 4px;
}

.hp-cs__button {
  width: 36px;
  height: 36px;
  background-color: #0f172a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

.hp-cs__button-arrow {
  width: 14px;
}

.hp-hero__body {
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
}

.hp-cs:hover .hp-cs__button {
  background-color: #0a0aff;
}

@media (max-width: 768px) {
  .hp-hero__text-container {
    margin-left: 24px;
    margin-top: 10vh;
    margin-bottom: 4vh;
    width: calc(100vw - 48px);
    overflow: hidden;
  }
  .hp-hero__text {
    font-family: "Anuphan";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 56px;
    color: #0f172a;
  }
  .hp-cs-row {
    flex-direction: column;
    gap: 48px;
    width: calc(100vw - 48px);
    padding-bottom: 28px;
  }
  .hp-cs__title {
    padding-top: 20px;
  }
  .hp-cs__desc {
    padding-top: 2px;
  }
  .hp-cs__button {
    margin-top: 14px;
  }
  .hp-header {
    width: calc(100vw - 48px);
    margin-bottom: 14vh;
  }
}
.footer-title {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  color: #64748b;
  font-weight: 400;
}

.footer {
  width: 100vw;
  padding: 16px 0px 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.footer-content {
  width: calc(100vw - 240px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-content {
    width: calc(100% - 48px);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 12px;
  }
}
.about-hero {
  display: flex;
  width: calc(100vw - 240px);
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15vh;
  margin-bottom: 15vh;
  height: auto;
  gap: 40px;
}

.inline-link {
  display: inline;
  color: #0a0aff !important;
}

.about-quote-container {
  width: calc(100vw - 240px);
  display: flex;
  flex-direction: column;
  gap: 108px;
  margin-bottom: 10vh;
  padding-top: 10vh;
  border-top: 1px solid #e2e8f0;
}

.about-hero__text-container {
  width: 60%;
  margin-right: 40px;
}

.about-hero__text {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 78px;
  color: #0f172a;
  margin-bottom: 8px;
}

.about-hero__text-bold {
  font-weight: 700;
}

.about-hero__body {
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  margin-top: 12px;
}

.about-hero-comp {
  margin-top: 16px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-comp-header {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  margin-top: 32px;
}

.comp-item {
  font-size: 1rem;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  width: auto;
}

@media (max-width: 768px) {
  .about-hero__text-container {
    margin-right: 0px;
    width: 100%;
  }
  .about-hero {
    display: flex;
    width: calc(100vw - 48px);
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 20vh;
    height: auto;
    gap: 20px;
  }
  .about-hero__text {
    font-family: "Anuphan";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 56px;
    color: #0f172a;
  }
  .about-hero-comp {
    margin-top: 40px;
  }
  .about-quote-container {
    width: calc(100vw - 48px);
  }
}
.intro-tag {
  font-size: 19px;
  font-family: "Anuphan";
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: #0f172a;
  display: flex;
  gap: 6px;
  align-items: center;
}

.intro-tag::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/img/down-arrow.svg);
}

body {
  font-family: "Anuphan", Helvetica, Arial, sans-serif;
  font-display: block;
  font-size: 0px;
  line-height: 0px;
  color: #333;
  margin: 0px;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0;
}

.text-xxl {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 59px;
  /* identical to box height, or 109% */
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
